.section {
    display: flex;
    flex-direction: row;
}

table {
    display: block;
    margin: auto;
    text-align: center;
}
td {
    width: 33.33%;
    position: relative;
}
td img {
    height: auto;
    width: auto;
}